.profile {
  position: absolute;
  top: 120%;
  right: 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  overflow: hidden;
  transform-origin: top right;
  transform: scale(0);
  transition: 0.2s linear;
  width: 30rem;

  .image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .name {
    font-size: 2rem;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .role {
    font-size: 1.8rem;
    color: var(--light-color);
  }
}

.active {
  transform: scale(1);
}