.courses {

  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;

    .box {
      border-radius: 0.5rem;
      background-color: var(--white);
      padding: 2rem;

      .title {
        font-size: 2rem;
        color: var(--black);
        padding-bottom: 0.5rem;
        padding-top: 1rem;
      }

      .thumb {
        position: relative;
        span {
          position: absolute;
          top: 1rem;
          left: 1rem;
          border-radius: 0.5rem;
          padding: 0.5rem 1.5rem;
          background-color: rgba(0, 0, 0, 0.3);
          color: #fff;
          font-size: 1.5rem;
        }
        img {
          width: 100%;
          height: 20rem;
          object-fit: cover;
          border-radius: 0.5rem;
        }
      }

      .tutor {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 2.5rem;

        img {
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          object-fit: cover;
        }

        h3 {
          font-size: 1.8rem;
          color: var(--black);
          margin-bottom: 0.2rem;
        }

        span {
          font-size: 1.3rem;
          color: var(--light-color);
        }
      }
    }
  }
  
  .more-btn {
    text-align: center;
    margin-top: 2rem;
  }
}
