.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  background-color: var(--white);
  height: 100vh;
  border-right: var(--border);
  z-index: 1200;

  #close-btn {
    text-align: right;
    padding: 2rem;
    display: none;

    i {
      text-align: right;
      font-size: 2.5rem;
      background: var(--red);
      border-radius: 0.5rem;
      color: var(--white);
      cursor: pointer;
      height: 4.5rem;
      width: 4.5rem;
      line-height: 4.5rem;
      text-align: center;
    }

    i:hover {
      background-color: var(--black);
    }
  }

  .profile {
    padding: 3rem 2rem;
    text-align: center;

    .image {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: contain;
      margin-bottom: 1rem;
    }

    .name {
      font-size: 2rem;
      color: var(--black);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .role {
      font-size: 1.8rem;
      color: var(--light-color);
    }
  }

  .navbar a {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-items: center;
    font-size: 2rem;

    i {
      margin-right: 1.5rem;
      color: var(--main-color);
      transition: 0.2s linear;
      width: 25px;
      text-align: center;
    }

    span {
      color: var(--light-color);
    }
  }

  .navbar {

    a:hover {
      background-color: var(--light-bg);
    }

    a:hover i {
      margin-right: 2.5rem;
    }
  }
  
  .active {
    left: -30rem;
  }
}
